.nav-link.active {
    color: #019AFF !important;
}

.btn-outline-danger {
    color: #019AFF !important;
    border-color: #019AFF !important;
}

.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #019AFF;
    border-color: #019AFF;
}

.btn-danger {
    color: #fff;
    background-color: #019AFF;
    border-color: #019AFF;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-danger:hover {
    color: #fff;
    background-color: #019AFF;
    border-color: #019AFF;
}

.btn-green {
    background-color: #3bca23;
    border-color: #26a30f;
}

.btn-green:hover {
    background-color: #26a30f;
    border-color: #3bca23;
}

.carousel-indicators {
    justify-content: center;
    margin-bottom: 20px;
}

.carousel-indicators li {
    background-color: #019AFF;
}

.carousel-control-prev-muhafiz {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 100px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23019AFF' class='bi bi-arrow-left-circle' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23019AFF' class='bi bi-arrow-right-circle' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-muhafiz {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 100px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.index_articles {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media (min-width: 800px) {
    .index_articles {
        flex-direction: row;
    }
}

.index_articles>* {
    flex-basis: 100%;
}